.body {
    --token-7a9e47d0-5397-40af-b396-a04512fe1d9e: rgb(255, 255, 255);
    --token-ebfdfc6f-a0e8-414d-b30e-eeab99d6e438: rgb(158, 163, 191);
    --token-0a6023b7-956f-483f-b3b2-22ca5cf79ece: rgb(10, 14, 40);
    --token-30adfd80-ecab-4819-b6d1-8070a9e3e5af: rgb(5, 7, 26);
    --token-cced1b6d-5f40-4be4-8817-847960101806: rgb(58, 110, 242);
    --token-be66259b-9314-4b54-8b1c-823c572103d7: rgb(71, 204, 136);
}